# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [26]:
s= "Hi there sam!"
s = s.split()
print(s)

['Hi', 'there', 'sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [28]:
txt ="The diameter of {planet} is {diameter} kilometers".format(planet="Earth",diameter=12742)
print(txt)

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [23]:
d = {'K1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d["K1"][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [4]:
import numpy as np
x = [0]*10
print (x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
y = [5]*10
print (x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## 5. Create an array of all the even integers from 20 to 35

In [7]:
import numpy as np
array=np.arange(20,36,2)
print("Array of all the even integers from 20 to 35")
print(array)

Array of all the even integers from 20 to 35
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [9]:
arr =np.arange(0,9).reshape(3,3)
print(arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [13]:
a = np.array([1,2,3])
b = np.array([4,5,6])
np.concatenate((a,b),axis=None)

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [17]:
import pandas as pd

In [19]:
 A = np.random.randint(10,size=(3,2))
print (A)

[[3 5]
 [6 0]
 [8 2]]

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [12]:
import datetime
day_delta =datetime.timedelta(days=1)

start_date = datetime.date(2023,1,1)
end_date = start_date+40*day_delta

for i in range ((end_date - start_date).days):
     print(start_date + 1*day_delta)

2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02
2023-01-02

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [22]:
import pandas as pd
lists = [[1,'aaa',22],[2,"bbb",25],[3,"ccc,24"]]
lists = pd.DataFrame(lists)
print(lists)

   0       1     2
0  1     aaa  22.0
1  2     bbb  25.0
2  3  ccc,24   NaN